@import url('https://fonts.googleapis.com/css?family=Concert+One');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --swatch-foundation:    #EEEEDD;
  --swatch-primary:       #E6E6E6; 
  --swatch-complement:    #E1E4CB; 
  --swatch_contrast:      #111111; 
  --swatch-accent:        #26a69a;    
  --my-font-family:          "Robaaaoto";
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

/*font-family: Arial, Helvetica, sans-serif;*/
body {
  background-color: var(--swatch-foundation);
  font-family: 'Concert One', cursive;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.button {
  background: transparent;
  border: 2px solid #0077b3;
  border-radius: 4px;
  color: #00ace6;
  text-transform: uppercase;
  font-size: 20px;
}

.game-letter{
  letter-spacing: 2px;
  font-size: 2rem;
  font-weight: 700;
  background: #F3B61F;
}

.health-bar {
  width: 30%;
  background-color: #ddd;
  display: inline-block;
  border: 4px solid #111111;
}

.word-input {
  width: 30%;
  height: 30px;
  font-size: 18px;
  border-radius: 6px;
  text-align: center;
}
