@import url('https://fonts.googleapis.com/css?family=Concert+One');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --swatch-foundation:    #EEEEDD; /* USED FOR BODY BACKGROUND */
  --swatch-primary:       #E6E6E6; /* DOMINANT COLOR, USED FOR MOST BACKGROUNDS */
  --swatch-complement:    #E1E4CB; /* USED IN FORGROUND OF PRIMARY FOR TEXT AND BORDERS */
  --swatch_contrast:      #111111; /* USED IN MOUSE-OVER SELECTION OF LARGE ELEMENTS */
  --swatch-accent:        #26a69a; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */    
  --my-font-family:          "Robaaaoto";
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

/*font-family: Arial, Helvetica, sans-serif;*/
body {
  background-color: var(--swatch-foundation);
  font-family: 'Concert One', cursive;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.button {
  background: transparent;
  border: 2px solid #0077b3;
  border-radius: 4px;
  color: #00ace6;
  text-transform: uppercase;
  font-size: 20px;
}

.game-letter{
  letter-spacing: 2px;
  font-size: 2rem;
  font-weight: 700;
  background: #F3B61F;
}

.health-bar {
  width: 35%;
  background-color: #ddd;
  display: inline-block;
  border: 4px solid #111111;
}
